*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    background-color: beige;
}
.container{
    background-color: white;
    width: 500px;
    padding: 25px;
    margin: 100px auto 0;
    border-top: 8px solid blue;
    box-shadow: inset;
}
h2{
    font-size: 20px;
    line-height: 20px;
    padding: 30px;
    text-align: center;
}
.nameInput{
    width: 90%;
    position: relative;
    margin: 20px auto;
    border: 30px;
}
span{
    margin-left: 30px;
}

.text-details, .name
{
    border: 1px solid #cccccc;
    outline:none
}

.text-details:hover, .name:hover
{
    background-color: bisque;
}

.text-details:focus, .name:focus
{
border: 1px solid black;
}

.radio-button
{
    margin-right: 8px;
}
.profileImg{
    margin-bottom: 40px;
    text-align: center;
}
.profileImg img{
    border-radius: 50px;
    height: 150px;
    width: 150px;
}

.subButton{
text-align: center;
}

 

.formDiv{
    
    height: 500px;
    align-items: center;
    border: 5px;
    border-color: black;
    text-align: center;
}